.container{

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    background-image: repeating-linear-gradient();

}

.menu{

    display: flex;
    justify-content: space-evenly; /*espaçamento entre os elementos*/
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid rgb(204, 183, 62);

}

.menu-time h2:nth-child(2), .menu-score h2:nth-child(2) {

    margin-top: 1rem;

}

.panel{

    
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.square{

    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: #27dba5;


}

.enemy{

    background-image: url("../images/ralph.png");
    background-size: cover;
    
}

.menu-lives{

    display: flex;
    align-items: center;
    justify-content: center;

}
